<html lang='en'>
<head>
  <meta charset='utf-8'>
  <link rel='stylesheet' href='../static/style.css'>
  <script src='../static/client.js'></script>
</head>
<body>
<div>
  <div class='center'>
    <div class='title'>Movie Genre Classifier</div>
      <div>
        Enter text: <input id='input-text' type="text" name="analyzetext" />
      </div>
      <div class='analyze'>
        <button id='analyze-button' class='analyze-button' type='button' onclick='analyze()'>Analyze</button>
      </div>
      <div class='result-label'>
        <label id='result-label'></label>
      </div>
      <div>
        <img src = 'http://www.clker.com/cliparts/b/8/f/3/15162367561328731896popcorn-and-movie-clipart.med.png' alt ='movies'>
    </div>
  </div>
</div>
</body>
</html>
